[Desktop Entry]
Exec={{ singularity_bin }} run -B /home/public_share_data:/home/public_share_data -B /home/public_share_workflow:/home/public_share_workflow {{container_dir}}/dropbox
Icon=/usr/share/pixmaps/dropbox.png
Type=Application
Terminal=false
Name=Dropbox
Categories=eosc;
