[Desktop Entry]
Exec={{ singularity_bin }} run -B /home/public_share_data:/home/public_share_data -B /home/public_share_workflow:/home/public_share_workflow {{container_dir}}/fiji
Icon=/usr/share/pixmaps/fiji.png
Type=Application
Terminal=false
Name=Fuhu
Categories=eosc;

