[Desktop Entry]
Exec={{ singularity_bin }} run -B /home/public_share_data:/home/public_share_data -B /home/public_share_workflow:/home/public_share_workflow {{container_dir}}/knime
Icon=/usr/share/pixmaps/knime.png
Type=Application
Terminal=false
Name=Knime
Categories=eosc;
