[Desktop Entry]
# Translators: this is eosc category
Name=Image Analysis
Name[en_AU]=Image Analysis
Name[en_GB]=Image Analysis
Comment= Image Analysis Software
Icon=preferences-desktop-personal
Type=Directory
