#!/bin/bash
VERSION="{{gr_resource_server_version}}"
JAR_DIR=$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )
log_file={{eosc_dir}}/log/eosc-group-rs.log
cd $JAR_DIR
exec java -jar eosc-group-rs-$VERSION.jar $@ >> ${log_file} 2>&1 &
