allow-invalid-ssl-cert = true
configuration-name = EOSC
cache-location={{cache_location}}
oidc-count = 1
oidc-name-0 = eosc
oidc-endpoint-0={{eosc_endpoint}}
oidc-token-endpoint-0={{eosc_token_endpoint}}
oidc-client-id-0={{eosc_client_id}}
oidc-client-secret-0={{eosc_client_secret}}
oidc-redirect-0={{eosc_redirect}}
oidc-issuer-0={{eosc_issuer}}
oidc-jwkUrl-0={{eosc_jwkUrl}}
