[Desktop Entry]
Type=Application
Name=DL-Course(Pytorch)
Icon=/usr/share/pixmaps/jupyter.png
Exec=/usr/bin/singularity run --nv /nfs/vd-containers/dl
Categories=Programming;
MimeType=application/x-qgis-project;image/tiff;image/jpeg;image/jp2;application/x-raster-aig;application/x-mapinfo-mif;application/x-esri-shape;
Keywords=map;globe;postgis;wms;wfs;ogc;osgeo;
X-Desktop-File-Install-Version=0.22
