[Desktop Entry]
Type=Application
Name=Mount S3 Bucket
Icon=/usr/share/pixmaps/embl-s3.png
Exec=python3 /opt/embl-s3/mount-s3.py
Categories=Data Access;
MimeType=application/x-qgis-project;image/tiff;image/jpeg;image/jp2;application/x-raster-aig;application/x-mapinfo-mif;application/x-esri-shape;
Keywords=map;globe;postgis;wms;wfs;ogc;osgeo;
X-Desktop-File-Install-Version=0.22