[Desktop Entry]
Type=Application
Name=KNIME
Icon=/usr/share/pixmaps/knime.png
Exec=/usr/bin/singularity run /nfs/vd-containers/knime
Categories=Programming;
MimeType=application/x-qgis-project;image/tiff;image/jpeg;image/jp2;application/x-raster-aig;application/x-mapinfo-mif;application/x-esri-shape;
Keywords=map;globe;postgis;wms;wfs;ogc;osgeo;
X-Desktop-File-Install-Version=0.22

