[Desktop Entry]
Type=Application
Name=Napari
Icon=/usr/share/pixmaps/napari.png
Exec=/usr/bin/singularity run  /nfs/vd-containers/napari
Categories=Image Analysis;
MimeType=application/x-qgis-project;image/tiff;image/jpeg;image/jp2;application/x-raster-aig;application/x-mapinfo-mif;application/x-esri-shape;
Keywords=map;globe;postgis;wms;wfs;ogc;osgeo;
X-Desktop-File-Install-Version=0.22

